
<table class="table table-responsive table-condensed">
    <thead>
    <th>BrandID</th>
    <th>BrandName</th>
    <th>Info</th>
    <th>Website</th>
    <th>AddressTitle</th>
    <th>AddressStr</th>
    <th>TownName</th>
    <th>ImagePath</th>
    <th class="col-sm-offset-11">Edit</th>
    <th>Delete</th>
    </thead>
    <tbody>
        <tr ng-repeat="brand in brands">
            <td>{{brand.BrandID}}</td>
            <td>{{brand.BrandName}}</td>
            <td>{{brand.Info}}</td>
            <td>{{brand.Website}}</td>
            <td>{{brand.Address.AddressTitle}}</td>
            <td>{{brand.Address.AddressStr}}</td>
            <td>{{brand.Address.TownName}}</td>
            
            <td>
                <span ng-repeat="image in brand.Images" style="overflow: hidden; width: 125px; display: block"> 
                    {{image.ImagePath}} <br />
                </span>
            </td>

            <td>
                <span class="btn btn-info glyphicon glyphicon-pencil"
                      data-toggle="modal"
                      data-target="#editModal"
                      ng-click="selectBrand(brand)"></span>
            </td>
            <td>
                <span class="btn btn-danger glyphicon glyphicon-remove"
                      data-toggle="modal"
                      data-target="#deleteModal"
                      ng-click="selectBrand(brand)"></span>
            </td>
        </tr>
    </tbody>
</table>

<button type="button"
        class="btn btn-success"
        data-toggle="modal"
        data-target="#addModal"
        ng-click="getCountries()">
    Add
</button>

<!-- Delete Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Do you want to delete the following CompanyInfo?</h4>
            </div>
            <div class="modal-body">
                <table class="table table-responsive">
                    <tr>
                        <td>CompanyInfoID</td>
                        <td>{{selectedBrand.BrandID}}</td>
                    </tr>
                    <tr>
                        <td>CompanyName</td>
                        <td>{{selectedBrand.BrandName}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteBrand(selectedBrand)">Delete</button>
            </div>
        </div>

    </div>
</div>

<!--Update Modal-->

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editing</h4>
            </div>
            <div class="modal-body">
                <table class="table table-responsive">
                    <tr>
                        <td>BrandName</td>
                        <td><input type="text" ng-model="selectedBrand.BrandName" /></td>
                    </tr>
                    <tr>
                        <td>Info</td>
                        <td><input type="text" ng-model="selectedBrand.Info" /></td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><input type="text" ng-model="selectedBrand.Website" /></td>
                    </tr>
                    <tr>
                        <td>AddressTitle</td>
                        <td><input type="text" ng-model="selectedBrand.Address.AddressTitle" /></td>
                    </tr>
                    <tr>
                        <td>AddressStr</td>
                        <td><input type="text" ng-model="selectedBrand.Address.AddressStr" /></td>
                    </tr>
                    <tr>
                        <td>PostalCode</td>
                        <td><input type="text" ng-model="selectedBrand.Address.PostalCode" /></td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                        <td>
                            <select ng-model="selectedBrand.Address.CountryID"
                                    ng-options="country.CountryID as country.Name for country in countries"
                                    ng-change="getCitiesByCountryID(selectedBrand.Address.CountryID)"></select>
                        </td>
                        <td>City:</td>
                        <td>
                            <select ng-model="selectedBrand.Address.CityID"
                                    ng-options="city.CityID as city.Name for city in cities"
                                    ng-change="getTownsByCityID(selectedBrand.Address.CityID)"></select>
                        </td>
                        <td>City:</td>
                        <td>
                            <select ng-model="selectedBrand.Address.TownID"
                                    ng-options="town.TownID as town.Name for town in towns"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>ImagePath</td>
                        <td><input type="text" ng-model="selectedBrand.Images[0].ImagePath" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="editBrand(selectedBrand)">Edit</button>
            </div>
        </div>

    </div>
</div>

<!--Add Modal-->

<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adding</h4>
            </div>
            <div class="modal-body">
                <table class="table table-responsive">
                    <tr>
                        <td>BrandName</td>
                        <td><input type="text" ng-model="newBrand.BrandName" /></td>
                    </tr>
                    <tr>
                        <td>Info</td>
                        <td><input type="text" ng-model="newBrand.Info" /></td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><input type="text" ng-model="newBrand.Website" /></td>
                    </tr>
                    <tr>
                        <td>AddressTitle</td>
                        <td><input type="text" ng-model="newBrand.Address.AddressTitle" /></td>
                    </tr>
                    <tr>
                        <td>AddressStr</td>
                        <td><input type="text" ng-model="newBrand.Address.AddressStr" /></td>
                    </tr>
                    <tr>
                        <td>PostalCode</td>
                        <td><input type="text" ng-model="newBrand.Address.PostalCode" /></td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                        <td>
                            <select ng-model="selectedCountryID"
                                    ng-options="country.CountryID as country.Name for country in countries"
                                    ng-change="getCitiesByCountryID(selectedCountryID)"></select>
                        </td>
                        <td>City:</td>
                        <td>
                            <select ng-model="selectedCityID"
                                    ng-options="city.CityID as city.Name for city in cities"
                                    ng-change="getTownsByCityID(selectedCityID)"></select>
                        </td>
                        <td>City:</td>
                        <td>
                            <select ng-model="newBrand.Address.TownID"
                                    ng-options="town.TownID as town.Name for town in towns"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>ImagePath</td>
                        <td><input type="text" ng-model="newBrand.Images[0].ImagePath" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addBrand(newBrand)">Add</button>
            </div>
        </div>

    </div>
</div>