
<table class="table table-responsive">
    <thead>
    <th>FeaturedProductID</th>
    <th>ProductID</th>
    <th>ProductName</th>
    <th>Priority</th>
    <th>IsShown</th>

    <th class="col-sm-offset-11">Edit</th>
    <th>Delete</th>
    </thead>
    <tbody>
        <tr ng-repeat="featuredProduct in featuredProducts">
            <td>{{featuredProduct.FeaturedProductID}}</td>
            <td>{{featuredProduct.ProductID}}</td>
            <td>{{featuredProduct.ProductName}}</td>
            <td>{{featuredProduct.Priority}}</td>
            <td>{{featuredProduct.IsShown}}</td>


            <td><span class="btn btn-info glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editModal" ng-click="selectFeaturedProduct(featuredProduct);getProducts()"></span></td>
            <td><span class="btn btn-danger glyphicon glyphicon-remove" data-toggle="modal" data-target="#deleteModal" ng-click="selectFeaturedProduct(featuredProduct)"></span></td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal" ng-click="getProducts()">Add</button>

<!-- Delete Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Do you want to delete the following FeaturedProduct?</h4>
            </div>
            <div class="modal-body">
                <table class="table table-responsive">
                    <tr>
                        <td>FeaturedProductID</td>
                        <td>{{selectedFeaturedProduct.FeaturedProductID}}</td>
                    </tr>
                    <tr>
                        <td>ProductName</td>
                        <td>{{selectedFeaturedProduct.ProductName}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteFeaturedProduct(selectedFeaturedProduct)">Delete</button>
            </div>
        </div>

    </div>
</div>

<!--Update Modal-->

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editing</h4>
            </div>
            <div class="modal-body">
                <table class="table table-responsive">

                    <tr>
                        <td>Product</td>
                        <td>
                            <select ng-model="selectedFeaturedProduct.ProductID" ng-options="Product.ProductID as Product.ProductName for Product in Products ">                                
                               
                            </select>
                        </td>
                      
                    </tr>

                    <tr>
                        <td>Priority</td>
                        <td><input type="text" ng-model="selectedFeaturedProduct.Priority" /></td>
                    </tr>
                    <tr>
                        <td>IsShown</td>
                        <td><input type="checkbox" ng-model="selectedFeaturedProduct.IsShown" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="getFeaturedProducts()">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="editFeaturedProduct(selectedFeaturedProduct)">Edit</button>
            </div>
        </div>

    </div>
</div>

<!--Add Modal-->

<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adding</h4>
            </div>
            <div class="modal-body">
                <table class="table table-responsive">

                    <tr>
                        <td>Product</td>
                        <td>
                            <select ng-model="newFeaturedProduct.ProductID" ng-options="Product.ProductDetailID as Product.ProductName for Product in Products"></select>
                            
                        </td>
                        
                    </tr>

                    <tr>
                        <td>Priority</td>
                        <td><input type="text" ng-model="newFeaturedProduct.Priority" /></td>
                    </tr>
                    <tr>
                        <td>IsShown</td>
                        <td><input type="checkbox" ng-model="newFeaturedProduct.IsShown" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addFeaturedProduct(newFeaturedProduct)">Add</button>
            </div>
        </div>

    </div>
</div>