
<table class="table table-responsive">
    <thead>
    <th>TownID</th>
    <th>Name</th>
    <th>City</th>
    <th class="col-sm-offset-11">Edit</th>
    <th>Delete</th>
    </thead>
    <tbody>
        <tr ng-repeat="town in towns">
            <td>{{town.TownID}}</td>
            <td>{{town.Name}}</td>
            <td>{{town.CityName}}</td>
            <td>
                <span class="btn btn-info glyphicon glyphicon-pencil"
                      data-toggle="modal"
                      data-target="#editModal"
                      ng-click="selectTown(town)"></span>
            </td>
            <td>
                <span class="btn btn-danger glyphicon glyphicon-remove"
                      data-toggle="modal"
                      data-target="#deleteModal"
                      ng-click="selectTown(town)"></span>
            </td>
        </tr>
    </tbody>
</table>

<button type="button"
        class="btn btn-success"
        data-toggle="modal"
        data-target="#addModal"
        ng-click="getCities()">
    Add
</button>

<!-- Delete Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Do you want to delete the following Town?</h4>
            </div>
            <div class="modal-body">
                <table class="table table-responsive">
                    <tr>
                        <td>TownID</td>
                        <td>{{selectedTown.TownID}}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{selectedTown.Name}}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{selectedTown.CityName}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteTown(selectedTown)">Delete</button>
            </div>
        </div>

    </div>
</div>

<!--Update Modal-->

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editing</h4>
            </div>
            <div class="modal-body">
                <table class="table table-responsive">
                    <tr>
                        <td>Name</td>
                        <td><input type="text" ng-model="selectedTown.Name" /></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>
                            <select ng-model="selectedTown.CityID"
                                    ng-options="city.CityID as city.Name for city in cities"></select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="editTown(selectedTown)">Edit</button>
            </div>
        </div>

    </div>
</div>

<!--Add Modal-->

<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adding</h4>
            </div>
            <div class="modal-body">
                <table class="table table-responsive">
                    <tr>
                        <td>Name</td>
                        <td><input type="text" ng-model="newTown.Name" /></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>
                            <select ng-model="newTown.CityID"
                                    ng-options="city.CityID as city.Name for city in cities"></select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addTown(newTown)">Add</button>
            </div>
        </div>

    </div>
</div>